.breadcrumb {
    padding: 0 .5rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    padding-left: 10px;
    background-color: #f4694c;
    border-radius: 0.25rem;
    font-family: Pangram;
    font-weight: 400;
    color: #fff;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}